@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Roboto:wght@400;700;900&family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?familia =Saira + Condensado: wght @ 100; 300; 400; 500; 700&mostrar = swap ");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.nav {
  grid-column: 1/9;
  grid-row: 1/2;
  background-color: #121820;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav .nav__container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__logo {
  width: 85px;
}
.nav .nav__label, .nav .nav__input {
  display: none;
}
.nav .nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 40px;
}
.nav .nav__item {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav .nav__item:after {
  content: "";
  display: block;
  background-color: #E39435;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  -webkit-clip-path: var(--clippy);
          clip-path: var(--clippy);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.nav .nav__item:hover {
  --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 800px) {
  .nav .nav__label {
    display: block;
    cursor: pointer;
    font-size: 30px;
  }
  .nav .nav__menu {
    position: fixed;
    top: 60px;
    bottom: 0;
    background-color: #E39435;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
  }
  .nav .nav__input:checked + .nav__menu {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .nav .nav__item::after {
    content: "";
    display: block;
    background-color: #E39435;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    -webkit-clip-path: var(--clippy);
            clip-path: var(--clippy);
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s;
  }
  .nav .nav__item::after :hover {
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
.header {
  grid-column: 1/9;
  background-image: url(/img/headerfondo.jpg);
  background-size: contain no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .header__info {
  font-size: 15px;
  font-weight: 100;
  font-family: "Rubik Distressed", cursive;
  margin: 0px 0px 8px;
  color: #fff;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}
.header .header__btn {
  width: 80px;
  height: 30px;
  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  cursor: pointer;
}

/*MEDIA QUERY HEADER*/
@media (min-width: 600px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 70px 320px 300px 600px 200px 400px auto auto auto auto;
  }
  .header .header__info {
    font-size: 22px;
    font-weight: 200;
  }
  .header .header__btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 450px 300px 400px 200px 400px auto auto auto auto;
  }
  .header .header__info {
    font-size: 30px;
    font-weight: 200;
    margin-top: 120px;
  }
  .header .header__btn {
    width: 120px;
    height: 40px;
    cursor: pointer;
  }
}
@media (min-width: 992px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 600px 300px 400px 200px 400px auto auto auto auto;
  }
  .header .header__info {
    font-size: 36px;
    font-weight: 400;
    margin-top: 200px;
    margin-left: 20px;
  }
  .header .header__btn {
    width: 140px;
    height: 50px;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 700px 300px 400px 200px 400px auto auto auto auto;
  }
  .header {
    grid-column: 1/9;
    background-image: url(/img/headerfondo.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .header__info {
    font-size: 45px;
    font-weight: 400;
    margin-top: 300px;
    margin-left: 30px;
  }
  .header .header__btn {
    width: 160px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
  }
}
@media (min-width: 1600px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 800px 300px 400px 200px 400px auto auto auto auto;
  }
  .header {
    grid-column: 1/9;
    background-image: url(/img/headerfondo.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .header__info {
    font-size: 45px;
    font-weight: 400;
    margin-top: 300px;
    margin-left: 40px;
  }
  .header .header__btn {
    width: 160px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
  }
  .header .header__btn:hover {
    transform: scale(1.1);
    transition: 0.8s;
  }
}
.aside {
  grid-column: 1/9;
  grid-row: 3/4;
  margin: 20px 20px;
}
.aside .aside__intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 120px);
}
.aside .aside__intro img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aside .aside__intro img:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

/*MEDIA QUERY ASIDE*/
@media (min-width: 600px) {
  .aside {
    grid-column: 1/9;
    grid-row: 3/4;
    margin: 40px 20px;
  }
  .aside .aside__intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 160px);
  }
}
@media (min-width: 768px) {
  .aside {
    grid-column: 1/9;
    grid-row: 3/4;
    margin: 40px 20px;
  }
  .aside .aside__intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 180px);
  }
  .aside .main__banner {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .aside {
    grid-column: 1/9;
    grid-row: 3/4;
    margin: 70px 20px;
  }
  .aside .aside__intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 250px);
  }
}
@media (min-width: 1200px) {
  .aside {
    grid-column: 1/9;
    grid-row: 3/4;
    margin: 70px 30px;
  }
  .aside .aside__intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 280px);
  }
}
@media (min-width: 1600px) {
  .aside {
    grid-column: 1/9;
    grid-row: 3/4;
    margin: 70px 40px;
  }
  .aside .aside__intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 340px);
  }
}
.main {
  grid-column: 1/9;
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.main .main__banner {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.main .main__banner img {
  width: 100%;
}
.main .main__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .main__info h2 {
  font-family: "Rubik Distressed", cursive;
  font-size: 30px;
}
.main .main__info p {
  font-family: "Nunito", sans-serif;
  color: rgb(110, 110, 110);
  line-height: 1.8;
}

@media (min-width: 992px) {
  .main .main__banner {
    margin-top: 190px;
  }
}
@media (min-width: 1100px) {
  .main {
    margin: 10px 80px;
    padding: 10px;
  }
  .main .main__banner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  .main .main__banner img {
    width: 80%;
    grid-column: 1/7;
    grid-row: 1/3;
  }
  .main .main__info {
    grid-column: 5/9;
    grid-row: 2/4;
    background-color: #fff;
    padding: 40px;
    text-align: left;
  }
  .main .main__info h2 {
    font-size: 30px;
  }
}
@media (min-width: 1600px) {
  .main {
    margin: 20px 80px;
    padding: 10px;
  }
  .main .main__banner {
    margin-top: 300px;
  }
  .main .main__info {
    grid-column: 5/9;
    grid-row: 2/4;
    background-color: #fff;
    padding: 60px;
    text-align: left;
  }
  .main .main__info h2 {
    font-size: 30px;
  }
}
.section {
  grid-column: 1/9;
  grid-row: 5/9;
  margin: 30px 20px;
}

.section__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__grid > div {
  background-size: cover;
  height: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__grid > div > h2 {
  color: #fff;
  font-size: 50px;
  font-family: "Rubik Distressed", cursive;
}

@media (min-width: 1200px) {
  .section__grid :hover {
    transform: scale(1.1);
    transition: 0.9s;
    cursor: pointer;
  }
}
.section__grid > div:nth-child(1) {
  background-image: url(/img/pexels-photo-1036396.jpeg);
}

.section__grid > div:nth-child(2) {
  background-image: url(/img/pexels-photo-1771383.jpg);
}

.section__grid > div:nth-child(3) {
  background-image: url(/img/niño.jpg);
}

.section__grid > div:nth-child(4) {
  background-image: url(/img/classic.jpg);
}

.section__grid > div:nth-child(5) {
  background-image: url(/img/urbano.jpg);
}

.section__grid > div:nth-child(6) {
  background-image: url(/img/accesorios.jpg);
}

@media (min-width: 600px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 70px 320px 300px 200px 200px 400px auto auto auto auto;
  }
  .main {
    grid-column: 1/9;
    margin-top: 100px;
  }
  .section {
    grid-column: 1/9;
    grid-row: 5/9;
    margin-top: 600px;
  }
}
@media (min-width: 800px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 450px 300px 400px 200px 400px auto auto auto auto;
  }
  .main {
    grid-column: 1/9;
    margin-top: 160px;
  }
  .section__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 5px;
  }
}
@media (min-width: 982px) {
  .section {
    grid-column: 1/9;
    grid-row: 5/9;
    margin-top: 600px;
  }
}
@media (min-width: 992px) {
  .section {
    grid-column: 1/9;
    grid-row: 5/9;
    margin-top: 900px;
  }
}
@media (min-width: 1200px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 700px 300px 200px 200px 400px auto auto auto auto;
  }
  .main {
    grid-column: 1/9;
    margin-top: 300px;
  }
  .section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 40px;
  }
}
@media (min-width: 1600px) {
  .section__grid {
    margin-top: 400px;
  }
}
.footer {
  grid-column: 1/9;
  background-color: #121820;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 20px;
  text-align: center;
}
.footer .logo__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer .logo__menu .logo {
  width: 100px;
  cursor: pointer;
}
.footer .logo__menu > img:hover {
  transform: scale(1.2);
}
.footer .logo__menu .footer__menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .logo__menu .footer__menu ul li a {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 10px;
}
.footer .icons__copyright {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer .icons__copyright .icons {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.footer .icons__copyright .icons > i:hover {
  transform: scale 1.1;
  color: #E39435;
}
.footer .icons__copyright .copyright {
  color: gray;
  font-size: 0.75rem;
  font-family: #E39435;
}

/*MEDIA QUERY*/
@media screen and (min-width: 800px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 8rem;
  }
  .footer .logo__menu {
    align-items: start;
  }
  .footer .logo__menu .footer__menu ul {
    flex-direction: row;
  }
  .footer .logo__menu .footer__menu ul li a {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 15px;
  }
  .footer .icons__copyright {
    align-items: end;
  }
}
@media screen and (min-width: 1100px) {
  .footer .footer__menu ul li a {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 20px;
  }
}
.section__p {
  grid-area: main;
  background-color: #fff;
}
.section__p .section__title {
  font-size: 35px;
  font-family: "Rubik Distressed", cursive;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 60px;
}
.section__p .product__padre {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  flex-direction: row;
  justify-content: center;
  margin: 30px 50px;
}
.section__p .product__padre .section__product {
  width: 250px;
  border: solid 2px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Nunito", sans-serif;
}
.section__p .product__padre .section__product .product__img {
  width: 100%;
}
.section__p .product__padre .section__product .product__title {
  font-size: 20px;
  margin: 7px;
}
.section__p .product__padre .section__product .product__desc {
  margin: 10px;
}
.section__p .product__padre .section__product .product__btn {
  padding: 10px;
  margin: 7px;
  border: none;
  border-radius: 10px;
}

.formulario__total {
  background: #1c2531;
  color: #fff;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  padding: 0 1.5em;
}
.formulario__total .container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.formulario__total .container .logotipo {
  text-align: center;
  font-size: 3em;
}
.formulario__total .container .contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.formulario__total .container .contact-wrapper > * {
  padding: 1em;
}
.formulario__total .container .contact-form {
  background: #1c2531;
  margin-bottom: 170px;
}
.formulario__total .container .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.formulario__total .container .contact-form form p {
  margin: 0;
  padding: 1em;
}
.formulario__total .container .contact-form form label {
  display: block;
}
.formulario__total .container .contact-form form input {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #E39435;
}
.formulario__total .container .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #E39435;
}
.formulario__total .container .contact-form form .block {
  grid-column: 1/3;
}
.formulario__total .container .contact-form form button {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #E39435;
  background: #E39435;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.formulario__total .container .contact-form form button:hover {
  background: #ad6813;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.formulario__total .container .contact-form form button:focus {
  background: #b49898;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.formulario__total .container .contact-info {
  background: #0d1218;
}
.formulario__total .container .contact-info h4 {
  text-align: center;
  margin: 0 0 1rem 0;
}
.formulario__total .container .contact-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
  padding: 0;
}
.formulario__total .container .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  .formulario__total {
    padding: 0 4em;
  }
  .formulario__total .container .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .formulario__total .container .contact-wrapper > * {
    padding: 2em;
  }
  .formulario__total .container .contact-info h4 {
    text-align: left;
  }
  .formulario__total .container .contact-info ul {
    text-align: left;
  }
  .formulario__total .container .contact-info p {
    text-align: left;
  }
}
.login__form, html {
  height: 100%;
}

.login__form {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background: #1c2531;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* No Scrollbar */
  overflow: hidden;
}
.login__form .form-box {
  width: 700px;
  height: 600px;
  padding: 40px;
  background: #0d1218;
  text-align: center;
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.login__form .form-box input[type=text], .login__form .form-box input[type=password], .login__form .form-box button[type=submit] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #E39435;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.login__form .form-box input[type=text]:focus {
  width: 280px;
  border-color: #ffffff;
}
.login__form .form-box input[type=password]:focus {
  width: 280px;
  border-color: #ffffff;
}
.login__form .form-box .loginform_title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}
.login__form .form-box button[type=submit] {
  border: 0;
  background: #E39435;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #E39435;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.login__form .form-box button[type=submit]:hover {
  background: none;
}

/*ACA DEJE EL SECTION Y LAS GRILLAS PORQUE NO PUDE ENCONTRAR LA SOLUCION. CUANDO LO MOVIA SE ME ROMPIA LA PAGINA. */
.grilla {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 60px 230px 250px 600px 700px 400px auto auto auto auto;
}

.section {
  grid-column: 1/9;
  grid-row: 5/9;
  margin: 30px 20px;
}

.section__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__grid > div {
  background-size: cover;
  height: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__grid > div > h2 {
  color: #fff;
  font-size: 50px;
  font-family: "Rubik Distressed", cursive;
}

@media (min-width: 1200px) {
  .section__grid :hover {
    transform: scale(1.1);
    transition: 0.9s;
    cursor: pointer;
  }
}
.section__grid > div:nth-child(1) {
  background-image: url(/img/pexels-photo-1036396.jpeg);
}

.section__grid > div:nth-child(2) {
  background-image: url(/img/pexels-photo-1771383.jpg);
}

.section__grid > div:nth-child(3) {
  background-image: url(/img/niño.jpg);
}

.section__grid > div:nth-child(4) {
  background-image: url(/img/classic.jpg);
}

.section__grid > div:nth-child(5) {
  background-image: url(/img/urbano.jpg);
}

.section__grid > div:nth-child(6) {
  background-image: url(/img/accesorios.jpg);
}

@media (min-width: 600px) {
  .main {
    grid-column: 1/9;
    margin-top: 100px;
  }
  .section {
    grid-column: 1/9;
    grid-row: 5/9;
    margin-top: 600px;
  }
}
@media (min-width: 800px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 450px 300px 400px 200px 400px auto auto auto auto;
  }
  .main {
    grid-column: 1/9;
    margin-top: 160px;
  }
  .section__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 5px;
  }
}
@media (min-width: 982px) {
  .section {
    grid-column: 1/9;
    grid-row: 5/9;
    margin-top: 600px;
  }
}
@media (min-width: 992px) {
  .section {
    grid-column: 1/9;
    grid-row: 5/9;
    margin-top: 900px;
  }
}
@media (min-width: 1200px) {
  .grilla {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 80px 700px 300px 200px 200px 400px auto auto auto auto;
  }
  .main {
    grid-column: 1/9;
    margin-top: 300px;
  }
  .section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 40px;
  }
}
@media (min-width: 1600px) {
  .section__grid {
    margin-top: 400px;
  }
}