.aside {
    text-align: center;
    margin: 30px 20px ;
    .aside__banner {
        width: 100%;
        max-width: 950px;
        object-fit: cover;
}
}


/*MEDIA QUERY*/

@media (min-width:950px){
    .aside__banner {
        width: 100%;
        max-width:980px;
        margin-top: 70px;
    }
    
}