
.footer {
    background-color:$colorprin;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 20px;
    text-align: center;
        .logo__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
                .logo {
                    width: 100px;
                    cursor: pointer;
                }
        
                    > img:hover {
                        transform: scale(1.2);
                    }
                    
                    .footer__menu ul {
                        list-style-type: none;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                                    li a {
                                        font-family: $fontprim;  
                                        color: white;
                                        font-size: 10px;
                                    }
                    }           

        }


    .icons__copyright {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .icons {
            display: flex;
            gap: 1rem;
            font-size: 1.2rem;
            cursor: pointer;
                    > i:hover {
                        transform: scale (1.1);
                        color: $colorsec;
                    }
             }
        

        .copyright {
            color: gray;
            font-size: .75rem;
            font-family: $colorsec;  
            }
                 
        }   
        
        
}


/*MEDIA QUERY*/


@media screen and (min-width:800px){
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 8rem;
        .logo__menu {
            align-items: start;

                .footer__menu ul {
                    flex-direction: row;
                                li a {
                                    font-family: $fontprim;  
                                    color: white;
                                    font-size: 15px;
                                }
                }
        }
        .icons__copyright {
            align-items: end;
        }
    }
    

 
    
}


@media screen and (min-width:1100px){
    .footer{
        .footer__menu ul li a {
            font-family: $fontprim;  
            color: white;
            font-size: 20px;
        }
    }
   
}


