

.header {
    background-image: url(proyecto-coder2/img/headerfondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:left;
    padding: 80px 10px;
    margin-top: 76px;
    height: 250px;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 18px;
        font-weight:100;
        font-family: $fontsec;
        color: #fff;
        margin-left: 20px;
        text-transform: uppercase;
    }
    button{
        width: 70px;
        height: 30px;
        margin: 10px 20px;
        padding: 10px 10px;
        border: none;
        border-radius: 20px;
        font-family: $fontprim;
        font-size: 8px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            transition:  0.4s;
        } 
    }
}




@media (min-width:600px){
    .header {
        background-image: url(/img/headerfondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 380px;
        width: 100%;
        padding: 130px 50px;
        margin-top: 56px;
        h1 {
            font-size: 30px;
            font-weight:100;
        }
        button{
            width: 82px;
            height: 34px;
            margin: 10px 20px;
            padding: 10px 10px;
            border: none;
            border-radius: 20px;
            font-family: $fontprim;
            font-size: 10px;
            cursor: pointer;
        }
    }
    
    
    
}

@media (min-width:950px) {
    .header {
        background-image: url(/img/headerfondo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 680px;
        width: 100%;
        padding: 230px 10px;
        h1 {
            font-size: 50px;
            font-weight:100;
            margin-left: 80px;
        }
        button{
            width: 120px;
            height: 40px;
            margin: 10px 80px;
            padding: 10px 10px;
            border: none;
            border-radius: 20px;
            font-family: $fontprim;
            font-weight: 800;
            font-size: 12px;
            border: solid 1px #fff;
            cursor: pointer;
            &:hover {
                background: transparent;
                color: #fff;
            }
        }
    }
    
  
    
}


