
.tituloprod {
    font-size: 28x;
    font-family: 'Rubik Distressed', cursive;
    padding-top: 90px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
}




.producto__padre {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    flex-direction: row;
    justify-content: center;
    margin: 30px 50px;
    .producto {
       @extend %producto;
            .producto__img {
                width: 100%;
                height: 230px;    
            }
            .producto__title {
                font-size: 20px;
                margin: 7px;
            }
            .producto__desc {
                margin: 10px;
            }
           
            .precio {
                .producto__btn {
                   @include producto__btn(#121820,#fff );
                         &:hover {
                            background-color: transparent;
                            color: #121820;
                            border: 1px solid #121820;
                    }
                }
                span {
                    color: $colorprin;
                    font-weight: 600;
                
                }

            }                      
           
    }
    
}



@media (max-width:700px){
    .tituloprod {
        font-size: 14px;
        margin: 7px;
    }
}