.section {
    text-align: center;
    margin: 30px 20px ;
    .section__banner {
        width: 100%;
        max-width: 950px;
        object-fit: cover;
}




@media (min-width:950px){
    .section__banner {
        width: 100%;
        max-width:980px;
        margin-top: 70px;
    }
    
}
}